@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Athletics';
        src: url('/fonts/Athletics-Bold.woff') format('woff'),
             url('/fonts/Athletics-Bold.woff2') format('woff2');
        font-style: normal;
        font-weight: 700;
        text-rendering: optimizeLegibility;
      }

    /* Typography */
    body {
        @apply font-sans text-base lg:text-lg xl:text-xl leading-normal text-black dark:text-paper tracking-wide;
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: 'dlig' on, 'ss01' on, 'ss02' on, 'ss04' on;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
      
      h1, h2, h3, h4 {
        @apply font-bold leading-tight text-black dark:text-paper;
      }
      
      h1 {
        @apply text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-8;
      }
    
      h2 {
        @apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-4;
      }
    
      h3 {
        @apply text-lg lg:text-2xl 2xl:text-3xl mb-4;
      }
    
      h4 {
        @apply text-base lg:text-lg xl:text-xl;
      }
      
      p, blockquote, ul, li, input {
        @apply text-base lg:text-lg xl:text-xl leading-normal mb-4 last:mb-0;
      }

      a {
        @apply underline underline-offset-2 decoration-shade hover:decoration-black dark:decoration-tint dark:hover:decoration-paper;
      }

    /* Buttons */

    /* Navigation */

    .navigation {
        position: fixed;
        display: flex;
        align-items: center;
        justify-items: center;
        gap: var(--padding-sm);
        width: fit-content;
        z-index: 4;
        top: var(--padding-lg);
        left: 50%;
        transform: translateX(-50%);
    }

    /* Pattern */

    .pattern {
        border: 12px solid transparent;
        border-image-source: url('./PostcardPattern.svg');
        border-image-slice: 12;
        border-image-repeat: round;
        outline: 8px solid var(--base);
        outline-offset: -20px;
        z-index: 1;
    }
}