@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'WS WARBLER';
    src: url('/fonts/WSWARBLERRegular.woff2') format('woff2'),
        url('/fonts/WSWARBLERRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS SPIRITIST';
    src: url('/fonts/WSSPIRITISTRegular.woff2') format('woff2'),
        url('/fonts/WSSPIRITISTRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS MODERN EPHEMERA';
    src: url('/fonts/WSMODERNEPHEMERARegular.woff2') format('woff2'),
        url('/fonts/WSMODERNEPHEMERARegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

    /* Typography */
    body {
        @apply font-serif1 text-base lg:text-lg xl:text-xl leading-normal text-ink1;
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: 'dlig' on, 'ss01' on, 'ss02' on, 'ss04' on;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
      
      h1, h2, h3, h4 {
        @apply font-bold leading-tight font-sans1 tracking-widest;
      }
      
      h1 {
        @apply text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-4 md:mb-8;
      }
    
      h2 {
        @apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-2 md:mb-4;
      }
    
      h3, .note {
        @apply text-lg lg:text-2xl 2xl:text-3xl mb-2 md:mb-4;
      }
    
      h4 {
        @apply text-base lg:text-lg xl:text-xl;
      }
      
      p, blockquote, ul, li, input {
        @apply text-base lg:text-lg xl:text-xl leading-normal mb-2 md:mb-4 last:mb-0;
      }

      .small-text {
        @apply text-xs lg:text-base xl:text-lg;
      }

      ul {
        @apply list-disc list-inside;
      }

      li {
        @apply mb-0;
      }

      a {
        @apply underline underline-offset-2 decoration-dotted hover:decoration-solid;
      }

      .note {
        @apply font-normal;
      }

    /* Buttons */

    .button {
        @apply no-underline bg-black text-paper3 px-4 py-2 rounded-full hover:scale-95 transition-all duration-100 ease-in-out font-serif2;
    }

    .big-button {
        @apply text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl no-underline bg-spot2 px-8 pt-3 pb-2 rounded-full hover:scale-95 transition-all duration-100 ease-in-out;
    }

    .price {
        @apply px-4 py-2 rounded-full;
    }

    /* Price length-based colors */
    .price:is([data-length="3"]) {
        @apply bg-spot1;
    }

    .price:is([data-length="2"]) {
        @apply bg-spot2;
    }

    .price:is([data-length="1"]) {
        @apply bg-spot3;
    }
    
    /* Navigation */

    .navigation {
        position: fixed;
        display: flex;
        align-items: center;
        justify-items: center;
        gap: var(--padding-sm);
        width: fit-content;
        z-index: 4;
        top: var(--padding-lg);
        left: 50%;
        transform: translateX(-50%);
    }

    /* Pattern */

    .pattern {
        border: 12px solid transparent;
        border-image-source: url('/PostcardPattern.svg');
        border-image-slice: 12;
        border-image-repeat: round;
        outline: 12px solid theme('colors.paper');
        outline-offset: -24px;
        z-index: 1;
    }

    .grid-pattern {
      background-size: 40px 40px;
      background-image:
        linear-gradient(to right, theme('colors.spot5') 1px, transparent 1px),
        linear-gradient(to bottom, theme('colors.spot5') 1px, transparent 1px);
    }

    /* FAQ */

    .faq-list {
        @apply col-span-full lg:col-span-8;
    }

    .question {
      @apply w-full mb-[1px] border-b border-ink2;
    }

    .question:last-child {
      @apply border-b-0;
    }

  .question-header {
      @apply w-full py-2 md:py-4 flex justify-between items-center border-none text-left cursor-pointer transition-all duration-300 ease-in-out;
  }

  .question-header:hover,
  .question-header[aria-expanded="true"] {
      @apply py-2 md:py-4;
  }

  .question-content {
      @apply py-0 max-h-0 overflow-hidden transition-all duration-300 ease-out;
  }

  .question-content[hidden] {
      @apply max-h-0 block;
  }

  .question-header[aria-expanded="true"] + .question-content {
      @apply max-h-[500px] pb-4 md:pb-12;
  }

  .question-header[aria-expanded="true"] .question-icon {
      @apply rotate-45;
  }

  .question-icon {
      @apply transition-[transform] duration-300 ease-in-out;
  }

  .question-body {
      @apply whitespace-pre-line;
  }
}