---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Navigation from '../components/Navigation.astro';

import Details from '../components/Details.astro';
import AccommodationTravel from '../components/AccommodationTravel.astro';
import FAQ from '../components/FAQ.astro';
import Menu from '../components/Menu.astro';
import RSVP from '../components/RSVP.astro';

import { Image } from 'astro:assets';
import map from '../assets/ColmersHillHalftone.png';
---

<Layout>
	<Container class="min-h-svh pattern sticky top-0 -z-10 flex flex-col gap-4 justify-between" style={`background-image: url(${map.src}); background-size: cover; background-position: center;`}>
	<div class="flex flex-col gap-2 h-full items-center justify-center flex-1 text-paper3">
		<h1 class="text-center mb-2 font-display1 text-8xl lg:text-10xl xl:text-12xl 2xl:text-14xl leading-[0.75] block">
		Marie & Tommy<br>
		are getting married
		</h1>
		<h3 class="text-center">And you're invited!</h3>
	</div>
	<div class="grid grid-cols-12 mt-auto object-center justify-items-center items-center">
		<h3 class="col-span-12 md:col-span-4 text-center text-paper3">Symondsbury Estate</h3>
		<div class="col-span-12 md:col-span-4 flex justify-center order-last md:order-none">
			<a href="#" class="big-button font-sans1">RSVP</a>
		</div>
		<h3 class="col-span-12 md:col-span-4 text-center text-paper3">27th September 2025</h3>
	</div>
	</Container>
	<Navigation/>

	<Details/>
	<AccommodationTravel/>
	<FAQ/>
	<Menu/>
	<RSVP class="z-20"/>
</Layout>