---
import Layout from '../layouts/Layout.astro';
import Container from '../layouts/Container.astro';
import Navigation from '../components/Navigation.astro';

import Details from '../components/Details.astro';
import AccommodationTravel from '../components/AccommodationTravel.astro';
import FAQ from '../components/FAQ.astro';
import Menu from '../components/Menu.astro';
import RSVP from '../components/RSVP.astro';
---

<Layout>
	<Container class="min-h-svh pattern">
	<h1>Marie & Tommy<br>
		27th September 2025<br>
		Symondsbury Estate</h1>
	<h2>We’re getting married<br>
		and you’re invited!</h2>
	</Container>
	<Navigation/>

	<Details/>
	<AccommodationTravel/>
	<FAQ/>
	<Menu/>
	<RSVP/>
</Layout>