---
import Container from '../layouts/Container.astro';

import { Image } from 'astro:assets';
import us from '../assets/Us.jpg';
---

<Container class="bg-paper !text-black">
    <div class="flex flex-col gap-8 items-center">
        <Image 
            src={us} 
            alt="Us" 
            loading="lazy" 
            sizes="(max-width: 768px) 100vw, 50vw" 
            class="w-48 h-auto rotate-2 object-contain border-8 border-white"
        />
        <p class="max-w-[500px] text-center text-balance mb-0">After 13 years of being together, we're getting married! We're excited to have you join us on the 27th September 2025.</p>
        <p class="max-w-[500px] text-center text-balance">Below is some information about the day, and how to get there. We look forward to seeing you there!</p>
    </div>
</Container>