---
import Container from '../layouts/Container.astro';
import AccommodationSingle from './AccommodationSingle.astro';
import { Image } from 'astro:assets';

import Symondsbury from '../assets/AccommodationSymondsbury.jpg';
import EypesMouth from '../assets/AccommodationEypesmouth.jpg';
import Bull from '../assets/AccommodationBull.jpg';
import Greyhound from '../assets/AccommodationGreyhound.jpg';
---

<Container class="bg-paper3">
    <h2>Accommodation & Travel</h2>
    <h3 class="mb-8 md:mb-12 text-balance font-serif2 tracking-tight">Here are some places to stay but there are plenty of other options in the area. It's great spot for a weekend away, and you should totally make a trip out of it.</h3>
    <div class="block md:grid md:grid-cols-12 md:gap-12 items-stretch">
        <AccommodationSingle header="Eype's Mouth Country Hotel" image={EypesMouth} link="https://www.eypesmouthhotel.co.uk" price='££' index={0}>
            A nice coastal option by the sea and only a 5-minute drive from the venue. (We're staying here!)
        </AccommodationSingle>

        <AccommodationSingle header="Symondsbury Estate" image={Symondsbury} link="https://symondsburyestate.co.uk/property/" price='£££' index={1}>
            The most convenient option is to stay at the venue, and is great for a tipsy stumble back. Various cottages are available.
        </AccommodationSingle>
        
        <AccommodationSingle header="The Bull Hotel" image={Bull} link="https://www.thebullhotel.co.uk/" price='££' index={2}>
            Conveniently located in the centre of Bridport, this is another great option while being a short drive from the venue.
        </AccommodationSingle>
        <AccommodationSingle header="The Greyhound" image={Greyhound} link="https://hotels.jdwetherspoon.com/hotels/the-greyhound/" price='£' index={1}>
            The Wetherspoon hotel in Bridport. Great for a cheap night's sleep.
        </AccommodationSingle>
    </div>
    <div class="grid grid-cols-12 gap-6 md:gap-12 mt-8 md:mt-12 border-t border-ink1 pt-8 border-dashed">
        <h3 class="col-span-12 font-serif2 uppercase italic">Getting here</h3>
        <div class="col-span-4">
            <h4 class="font-serif2 uppercase italic">Car</h4>
            <p class="italic">By far the easiest way to get here. Just follow the A35 to Bridport, and keep an eye out for the signs to Symondsbury.</p>
        </div>
        <div class="col-span-4">
            <h4 class="font-serif2 uppercase italic">Train</h4>
            <p class="italic">The nearest stations are Axminster, Crewkerne and Dorchester. From there, you can get a taxi, bus or organise a lift with other guests.</p>
        </div>
        <div class="col-span-4">
            <h4 class="font-serif2 uppercase italic">Bus</h4>
            <p class="italic">The X51 should run close by to the venue but we wouldn't count on it – it's a bus service in the west country, after all.</p>
        </div>
    </div>
</Container>