---
import Container from '../layouts/Container.astro';
import Schedule from './Schedule.astro';

import { Image } from 'astro:assets';
import map from '../assets/MapExample.jpg';
---

<Container class="bg-paper3 !text-black grid-pattern">
    <div class="block md:grid md:grid-cols-12 md:gap-12">
        <div class="mb-8 md:mb-0 md:col-span-4 md:sticky top-16 h-fit">
            <h2>Location</h2>
            <div>
                <p>The Tithe Barn
                <br>Mill Lane
                <br>Symondsbury
                <br>Bridport DT6 6HG</p>
                <p><a href="https://www.google.com/maps/place/Symondsbury+Estate/@50.740055,-2.7869436,632m/data=!3m2!1e3!4b1!4m6!3m5!1s0x4872645392321df5:0x64d895008f99ec85!8m2!3d50.740055!4d-2.7869436!16s%2Fg%2F1tdw7hrv?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">View on Google Maps</a>
                <br><a href="https://what3words.com/hovered.jaundice.dumps">///hovered.jaundice.dumps</a></p>
            </div>
        </div>
        <Image 
            src={map} 
            alt="map" 
            loading="lazy" 
            sizes="(max-width: 768px) 100vw, 50vw" 
            class="w-full h-auto -rotate-2 object-contain md:col-span-8"
        />
    </div>
</Container>

    <div class="grid grid-cols-12">
        <Container class="col-span-12 md:col-span-6 bg-paper2 !text-ink2">
            <Schedule/>
        </Container>
        <Container class="col-span-12 md:col-span-6 bg-paper flex flex-col justify-end">
            <div class="max-w-[600px]">
                <h2>Dresscode</h2>
                <p>We're going for a smart-ish vibe. We'd love you to dress up, but if you're not comfortable, please don't feel obliged to.</p>
                <p>Most importantly, <span class="inline-block animate-bounce font-bold">bring some good dancing shoes!</span> We want you to be comfortable and dance the night away.</p>
            </div>
        </Container>
    </div>
