---
import Container from '../layouts/Container.astro';
import Question from './Question.astro';
---

<Container id="faq" class="bg-paper2 !text-ink2">
    <div class="grid grid-cols-12 gap-4 md:gap-8">
        <h2 class="col-span-12 mb-0">FAQ</h2>
        <div class="faq-list">
            <Question 
            question="When should I RSVP by?"
            answer="Please RSVP by the 30th July 2025."
            />
            <Question 
            question="What time should I arrive?"
            answer="The ceremony will begin at 13:00pm, so please arrive no later than 12:30pm."
            />
            <Question 
            question="Are kids welcome?"
            answer="While we love kids, we just don't love yours (jokes!). We've decided to make this an adults-only celebration to allow all our guests to relax and enjoy themselves fully."
            />
            <Question 
                question="Can I bring a plus one?"
                answer="If your invite specifies a plus one, then absolutely! If your invite does not specify a plus one, then unfortunately not."
            />
            <Question 
                question="Should I bring a gift?"
                answer={`Your company is all we’re after!`}
            />
            <Question 
                question="I have more questions. Who can I contact?"
                answer={`Send Tommy an email (tommydraws@gmail.com) if it's a fun question, or Marie (mariewiscombe@gmail.com) if it's a practical question.`}
            />
        </div>
    </div>
</Container>