---
import Container from '../layouts/Container.astro';
import Question from './Question.astro';
---

<Container id="faq" class="bg-[#ededed]">
    <div class="grid grid-cols-12 gap-4 md:gap-8">
        <h2 class="col-span-12 mb-0">FAQ</h2>
        <div class="faq-list">
            <Question 
            question="Are kids welcome?"
            answer="While we love your little ones, we've decided to make this an adults-only celebration to allow all our guests to relax and enjoy themselves fully."
            />
            <Question 
                question="Can I bring a plus one?"
                answer="Due to venue capacity limitations, we can only accommodate those guests specifically named on the invitation. Thank you for understanding!"
            />
            <Question 
                question="What's accessibility like?"
                answer={`Our venue is fully wheelchair accessible and accessible restrooms. There is also car park outside the venue, with disabled parking bays closest to the building.

                Please let us know if you have any specific requirements, and we'll be happy to accommodate them.`}
            />
        </div>
    </div>
</Container>