---
import Container from '../layouts/Container.astro';
---

<Container id="menu">
    <div class="grid grid-cols-12 gap-12">
        <h2 class="col-span-12">Menu</h2>
        <div class="col-span-4">
            <h3>Tapas</h3>
            <p>Instead of starters and canapes, we're opting for a selection of small dishes.</p>
            <ul>
                <li>Patatas bravas</li>
                <li>Chorizo in red wine</li>
                <li>Prawns with chilli, garlic and olive oil</li>
                <li>Ham and cheese croquetas</li>
                <li>Padron peppers</li>
            </ul>
        </div>
        <div class="col-span-4">
            <h3>Main</h3>
            <p><em>Option 1</em><br>Rolled chicken breast topped with fine herbs, broccoli puree, scratchings, carrot, burnt leek, chicken veloute</p>
            <p><em>Option 2</em><br>Locally made pork sausages, creamy mashed potato, onion jam, crispy onions, rich gravy</p>
        </div>
        <div class="col-span-4">
            <h3>Dessert</h3>
            <p><em>Option 1</em><br>Dark Chocolate brownie, biscoff cheesecake, milk chocolate sauce, honeycomb</p>
            <p><em>Option 2</em><br>Individual seasonal berry pavlova, berry sauce, flowers</p>
        </div>
        <div class="col-span-12">
            <p class="text-balance">All dishes cana be catered to any dietary requirements. Please let us know in the RSVP form. If you need further assistance, please contact us or <a href="https://www.dorsetfinedining.co.uk" target="_blank">Dorset Fine Dining</a>.</p>
        </div>
    </div>
</Container>