---
import Container from '../layouts/Container.astro';
---

<Container id="menu" class="bg-paper">
    <div class="grid grid-cols-12 gap-6 md:gap-12">
        <h2 class="col-span-12 mb-0 font-serif2 tracking-tight">Menu</h2>
        <div class="col-span-full md:col-span-8 lg:col-span-6 xl:col-span-3">
            <h3 class="font-serif2 tracking-tight">Tapas</h3>
            <p>Instead of starters and canapes, we're opting for a selection of small dishes.</p>
            <ul>
                <li>Sourdough bread <span class="text-sm pb-8">(vegan)</span></li>
                <li>Patatas bravas <span class="text-sm pb-8">(vegan)</span></li>
                <li>Cheese selection</li>
                <li>Chorizo in red wine</li>
                <li>Ham and cheese croquetas</li>
                <li>Padron peppers <span class="text-sm pb-8">(vegan)</span></li>
            </ul>
        </div>
        <div class="col-span-full md:col-span-8 lg:col-span-6 xl:col-span-3">
            <h3 class="font-serif2 tracking-tight">Main</h3>
            <p class="text-balance"><em>Option 1</em><br>Rolled chicken breast topped with fine herbs, broccoli puree, scratchings, carrot, burnt leek, chicken veloute</p>
            <p class="text-balance"><em>Option 2</em><br>Locally made pork sausages, creamy mashed potato, onion jam, crispy onions, rich gravy</p>
            <p class="text-balance"><em>Option 3</em><br>Sweet potato, chickpea, wild mushroom cakes <span class="text-sm pb-8">(vegan)</span></p>
        </div>
        <div class="col-span-full md:col-span-8 lg:col-span-6 xl:col-span-3">
            <h3 class="font-serif2 tracking-tight">Dessert</h3>
            <p class="text-balance"><em>Option 1</em><br>Dark Chocolate brownie, biscoff cheesecake, milk chocolate sauce, honeycomb <span class="text-sm pb-8">(vegan)</span></p>
            <p class="text-balance"><em>Option 2</em><br>Individual seasonal berry pavlova, berry sauce, flowers</p>
        </div>
        <div class="col-span-full md:col-span-8 lg:col-span-6 xl:col-span-3">
            <h3 class="font-serif2 tracking-tight">Evening pizza! <span class="inline-block animate-spin">🍕</span></h3>
            <p class="text-balance">Provided by the most excellent <a href="https://www.soulpizzatruck.com" target="_blank">Soul Pizza</a>. Options TBC.</p>
        </div>
        <div class="col-span-full border-t border-black pt-4 md:pt-8">
            <p class="text-balance small-text italic">Mains and desserts can be catered to any dietary requirements. Please let us know in the RSVP form. If you need further assistance, please contact us or <a href="https://www.dorsetfinedining.co.uk" target="_blank">Dorset Fine Dining</a>.</p>
        </div>
    </div>
</Container>