---
interface Props {
    header?: string;
}

const { header } = Astro.props;
---

<div class="flex flex-row justify-start gap-4 md:gap-8">
    {header && <h3 class="min-w-32">{header}</h3>}
    <p class="note"><slot /></p>
</div>