---
interface Props {
    header?: string;
}

const { header } = Astro.props;
---

<div class="flex flex-row justify-start gap-8">
    {header && <h4 class="w-20">{header}</h4>}
    <p class="note"><slot /></p>
</div>