---
import Container from '../layouts/Container.astro';
---

<a href="https://bwzfzwneay5.typeform.com/to/O2MMcmgj" target="_blank" class="rsvp-footer no-underline group">
    <Container class=" flex flex-col gap-4 min-h-[50svh] bg-spot1 items-center justify-center">
        <h1 class="text-ink1 text-center h-fit mb-0 inline-block w-full group-hover:tracking-[0.5em] transition-all duration-150 ease-in-out">RSVP</h1>
        <p class="text-ink1 text-center text-sm uppercase font-bold tracking-widest">(Yes – this is a massive button)</p>
    </Container>
</a>