---
import Container from '../layouts/Container.astro';
---

<a href="https://bwzfzwneay5.typeform.com/to/O2MMcmgj" target="_blank" class="rsvp-footer no-underline group">
    <Container class=" flex min-h-[50svh] bg-black group-hover:bg-[#222222] transition-all duration-300 ease-in-out items-center justify-center">
        <h1 class="text-white text-center h-fit mb-0">RSVP</h1>
    </Container>
</a>