---
import Container from '../layouts/Container.astro';
---

<a href="https://bwzfzwneay5.typeform.com/to/O2MMcmgj" target="_blank" class="rsvp-footer no-underline group">
    <Container class=" flex min-h-[50svh] bg-[rgba(128,128,128,0.5)] group-hover:bg-[rgba(128,128,128,0.7)] transition-all duration-300 ease-in-out items-center justify-center">
        <h1 class="text-center h-fit mb-0">R.S.V.P</h1>
    </Container>
</a>