---
import Note from "./Note.astro";
---

<div class="schedule mb-12">
    <h3>Order of the day</h3>
    <Note header="12:30">Arrival</Note>
    <Note header="13:00">Ceremony</Note>
    <Note header="13:30">Reception</Note>
    <Note header="14:00">Tapas</Note>
    <Note header="15:00">Wedding breakfast</Note>
    <Note header="19:00">Cèilidh</Note>
    <Note header="19:30">Pizza</Note>
    <Note header="20:30">Disco</Note>
    <Note header="Midnight">Departure</Note>
</div>