---
const { 
  class: additionalClasses, 
  id: additionalId = '',
  animate = true
} = Astro.props;

const containerClass = `p-16 ${animate ? 'animate-container' : ''} ${additionalClasses}`;
---
<div id={`${additionalId}`} class={containerClass}>
    <slot />
</div>