---
import '../styles/global.css';

import { ClientRouter } from 'astro:transitions';
const anim = {
  old: {
    name: 'fadeOut',
    duration: '0.3s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeIn',
    delay: '0.3s',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};
const transitionAnimation = {
  forwards: anim,
  backwards: anim,
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Marie & Tommy's Wedding</title>
		<link rel="stylesheet" href="https://use.typekit.net/mvn1jhi.css">
		
		<ClientRouter fallback="none" />
	</head>
	<body transition:animate={transitionAnimation} class="bg-paper">
		<slot />
	</body>
</html>