---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Marie & Tommy's Wedding</title>
		<link rel="stylesheet" href="https://use.typekit.net/mvn1jhi.css">
	</head>
	<body>
		<slot />
	</body>
</html>